<md-toolbar ng-class="{'md-warn': !vm.connected}">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">Повар ресторана "На краю Вселенной" <span ng-show="!vm.connected">(соединение потеряно)</span></h2>
    </div>
</md-toolbar>

<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">

        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Заказанные блюда</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>

                    <md-list ng-cloak>

                        <md-list-item flex ng-show="vm.newOrders.length===0"><p>Нет заказов</p></md-list-item>

                        <md-list-item ng-repeat="order in vm.newOrders" flex>
                            <p flex = 'grow' flex layout-margin>{{order.orders.title}}</p>

                            <p flex layout-margin>
                                <md-icon class="md-secondary md-primary" ng-click="vm.startCooking(order)" aria-label="Начать готовить"> done </md-icon>
                            </p>
                            <md-divider ng-hide="$last"></md-divider>
                        </md-list-item>

                    </md-list>

                </md-card-content>
            </md-card>
        </div>

        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Готовящиеся блюда</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>

                    <md-list ng-cloak>

                        <md-list-item flex ng-show="vm.cookingOrders.length===0"><p>Ничего не готовится</p></md-list-item>

                        <md-list-item ng-repeat="order in vm.cookingOrders" flex>
                            <p flex = 'grow' flex layout-margin>{{order.orders.title}}</p>

                            <p flex layout-margin>
                                {{vm.endCookingTime | amDifference : order.orders.startCooking : 'seconds' | secondsToTimeString }}
                            </p>

                            <p flex layout-margin>
                                <md-icon class="md-secondary md-primary" ng-click="vm.endCooking(order)" aria-label="Начать готовить"> done </md-icon>
                            </p>
                            <md-divider ng-hide="$last"></md-divider>
                        </md-list-item>

                    </md-list>

                </md-card-content>
            </md-card>
        </div>

    </md-content>
</div>